@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-weight: 700;
}

/** UTILITIES CLASS  **/

.container {
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.tac {
  text-align: center;
}
.m-zero {
  margin: 0 auto;
}
.col-50 {
  width: 100%;
}
.col-30 {
  width: 100%;
}
.col-20 {
  width: 100%;
}

/** HEADER  **/

nav {
  justify-content: flex-end;
  padding: 25px 0;
}

.logo {
  margin-right: auto;
  width: 60px;
  height: auto;
}
ul li a {
  text-decoration: none;
  padding: 0 40px;
  color: #54524f;
}
ul li {
  list-style: none;
  margin: 0 50px;
}
nav button {
  width: 10%;
  height: 51px;
  border-radius: 25px;
  background-color: #7f7770;
  padding-right: 10px;
  opacity: 0.471;
  text-align: end;
  font-size: 20px;
}

/** SECTION-ONE  **/

.section-one {
  background-image: url(./img/BG\ IMG.png);
  padding: 100px 0;
  margin: 50px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-one-text {
  padding: 50px 0;
}
.sec-one-text h1 {
  font-size: 3.75rem;
  color: #deb37e;
  font-weight: 800;
  width: 60%;
}
.sec-one-text .sec-one-lorem,
.sec-one-lorem-2 {
  font-size: 1.56rem;
  color: #54524f;
  font-weight: 700;
  font-style: italic;
}
.sec-one-lorem-2 {
  width: 85%;
}
.sec-one-text button {
  width: 25%;
  height: 47px;
  border-radius: 21px;
  background-color: #ffffff;
  color: #776c64;
  border: none;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bolder;
}

/** SECTION-TWO  **/

.sec-two-img img {
  width: 100%;
  height: auto;
}
.sec-two-main {
  background-color: #54524f;
  margin: 50px 0;
}
.sec-two-h1 h1 {
  font-size: 4rem;
  color: #e2a355;
  font-weight: 900px;
  margin: 30px 0;
}
.sec-two-p p {
  font-size: 1.7rem;
  color: #7f7770;
  font-weight: 400;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.sec-two-text {
  padding: 40px 0;
}
.sec-two-text h1 {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 700;
  margin: 20px 0;
}
.sec-two-text p {
  font-size: 1.44rem;
  color: white;
  font-weight: 400;
}
.sec-two-btn button {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: bolder;
  background-color: #7f7770;
  border-radius: 21px;
  border: none;
  width: 430px;
  height: 60px;
  display: block;
  margin: 0 auto;
}

/** SECTION-THREE  **/

.sec-three-bt button {
  font-size: 1.25rem;
  letter-spacing: 5px;
  color: #ffffff;
  font-weight: bolder;
  font-family: "Open Sans";
  border-radius: 21px;
  border: none;
  width: 430px;
  height: 60px;
  background-color: #e2a355;
  margin-bottom: 80px;
}
.sec-3 h1,
.sec-four h1 {
  padding: 20px 0;
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
}
.sec-3 p,
.sec-four p {
  width: 75%;
  margin: 40px auto;
  font-size: 29px;
  color: #ffffff;
  font-weight: 400;
}
.sec-3-text {
  background-color: #776c64;
}
.sec-3 img,
.sec-four img {
  width: 100%;
  height: auto;
}
.sec-three {
  margin-top: 50px;
}

/** SECTION-FOUR  **/

.sec-four button {
  margin: 0 auto;
  display: block;
}
.sec-four-text {
  padding: 100px 0;
}
.sec-four-text {
  background-color: #deb37e;
}

/** SECTION-FIVE  **/

.sec-five {
  background-image: url(./img/gray\ color.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px 0;
}
.sec-five h1 {
  font-size: 3.63rem;
  color: #ffffff;
  font-weight: 600;
  font-family: "Open Sans";
  text-align: center;
  padding-top: 30px;
}
.sec-five p {
  width: 70%;
  height: 188px;
  font-size: 1.81rem;
  color: #dbdbdb;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin: 50px auto;
}

/** SECTION-SIX  **/

.section-six {
  padding: 100px 0;
  background-image: url(./img/six-bg.png);
  background-size: cover;
  background-position: center center;
}

.sec-six-text {
  padding: 100px;
}
.sec-six-main {
  padding: 50px 0;
}
.section-six h1 {
  font-size: 4rem;
  color: #deb37e;
  font-weight: 800;
  font-style: italic;
  text-align: right;
}
.section-six h2 {
  font-size: 3rem;
  color: #54524f;
  font-weight: 800;
  font-style: italic;
  text-align: right;
}

/** SECTION-SEVEN  **/

.sec-seven h1 {
  font-size: 2.1rem;
  color: #deb37e;
  font-weight: 700;
  padding: 30px 40px;
}
.sec-seven p {
  font-size: 1.2rem;
  color: #333d42;
  font-weight: 400;
  width: 77%;
  padding: 10px 40px;
}
.sec-seven {
  padding: 80px 0;
}

/** SECTION-EIGHT  **/

.sec-eight {
  text-align: center;
  background-color: #deb37e;
}
.sec-eight h1 {
  font-size: 4.7rem;
  color: #ffffff;
  font-weight: 700;
}
.sec-eight p {
  font-size: 1.88rem;
  color: #54524f;
  font-weight: 400;
  font-family: "Open Sans";
  width: 65%;
  margin: 30px auto;
}
.sec-email {
  text-align: center;
}
.sec-email-text {
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0;
  border: none;
}
.sec-email button {
  border-radius: 20px;
  padding: 10px;
  color: white;
  background-color: #7f7770;
  border: none;
}

/** FOOTER  **/

.footer-text {
  background-color: #7f7770;
}
.footer-text h1 {
  font-size: 2rem;
  color: white;
  font-weight: 400;
  font-family: "Montserrat";
  margin: 20px 0;
}
.footer-text i {
  color: #ffffff;
  padding-top: 15px;
  padding-right: 10px;
  font-size: 1.88rem;
}
.footer-text p {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  font-family: "Montserrat";
  width: 120%;
  padding: 5px 0;
}
footer {
  padding: 80px 0;
}

/** MEDIA QUERIES  **/

@media (min-width: 576px) {
  .container {
    width: 550px;
  }
  .sec-five p {
    width: 100%;
  }
  .section-six h1 {
    font-size: 1rem;
  }
  .section-six h2 {
    font-size: 0.5rem;
  }
  .footer p {
    width: 100%;
  }
  .sec-four-text {
    margin: 20px 0;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .col-50 {
    width: 60%;
  }
  .col-30 {
    width: 45%;
  }
  .col-20 {
    width: 20%;
  }
  .sec-3 img,
  .sec-four img {
    width: 100%;
  }
  .sec-four-text {
    margin: 0 auto;
  }
  .col-four-img {
    margin: 10px auto;
  }
  .sec-3 {
    margin: 10px auto;
  }
  .sec-two-main {
    margin: 10px auto;
  }
  .sec-two-p p {
    width: 100%;
  }
  .sec-five p {
    width: 100%;
  }
  .section-six h1 {
    font-size: 2rem;
  }
  .section-six h2 {
    font-size: 1rem;
  }
  .sec-seven p {
    width: 100%;
  }
  .sec-seven .col-30 {
    margin: 10px auto;
  }
  .sec-eight-main p {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
  .col-50 {
    width: 50%;
  }
  .col-30 {
    width: 30%;
  }
  .col-20 {
    width: 20%;
  }
  .sec-3 img,
  .sec-four img {
    width: 100%;
    height: 100%;
  }
  .section-six h1 {
    font-size: 3rem;
  }
  .section-six h2 {
    font-size: 2rem;
  }
  .sec-seven p {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
  .col-50 {
    width: 50%;
  }
  .col-30 {
    width: 30%;
  }
  .col-20 {
    width: 20%;
  }
  .sec-3 img,
  .sec-four img {
    width: 100%;
    height: 100%;
  }
  .sec-seven p {
    width: 100%;
  }
}
